@keyframes fade-down {
    0% {
       opacity: 0;
       transform: translateY(-30px) scale(0.9);
    }
     100% {
       opacity: 1;
       transform: translateY(0px) scale(1);
     }
   }

body {
    color: white;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
    animation: fade-down 1.2s;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}